# Tabla de contingencia
Filas y columnas diciendonos con que frecuencia ocurre un determinado suceso en la diferente combinación de categorias para mas o dos variables

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("python-ml-course//datasets//gender-purchase//Gender Purchase.csv")
df

     Gender Purchase
0    Female      Yes
1    Female      Yes
2    Female       No
3      Male       No
4      Male      Yes
..      ...      ...
506    Male      Yes
507  Female      Yes
508    Male       No
509  Female      Yes
510  Female      Yes

[511 rows x 2 columns]

In [5]:
contingency_table = pd.crosstab(df["Gender"], df["Purchase"])
contingency_table

Purchase   No  Yes
Gender
Female    106  159
Male      125  121

In [10]:
contingency_table.sum(axis=1) #sumo por filas (eje horizontal)

Gender
Female    265
Male      246
dtype: int64

In [11]:
contingency_table.sum(axis=0) #sumo por columnas (eje vertical)

Purchase
No     231
Yes    280
dtype: int64

In [9]:
#¿Qué porcentaje cae de hombres y mujeres compraron o no compraron?
contingency_table.astype("float").div(contingency_table.sum(axis=1), axis=0) 
#dividimos cada columna por la suma total de las filas (cantidad de hombres y mujeres) y lo convierto a float.

Purchase       No      Yes
Gender
Female    0.40000  0.60000
Male      0.50813  0.49187